@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <hr />

    <p>
        Check out Joel at
        <a href="https://www.qwcomedy.com/" target="_blank" class="btn btn-outline-primary">
            Quick Wits Comedy
        </a>
    </p>

    <p>
        Listen to his podcast at
        <a href="https://baconsale.com/" target="_blank" class="btn btn-outline-success">
            Baconsale.com
        </a>
    </p>

    <div class="mt-4">
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/img/bacon.jpg"
                 alt="Joel Hilton Baconsale"
                 class="img-fluid rounded shadow"
                 style="max-width: 500px;" />
        </a>
    </div>
</div>